# Lab 3: Tables

Welcome to lab 3!  This week, we'll learn even more about *tables* and do some first steps in data exploration.
First, set up the tests and imports by running the cell below.

In [1]:
import numpy as np
from datascience import *

# These lines load the tests.

from client.api.notebook import Notebook
ok = Notebook('lab03p.ok')
_ = ok.auth(inline=True)
imdb = Table.read_table('imdb.csv')

## 1. Using lists

A *list* is another Python sequence type, similar to an array. It's different than an array because the values it contains can all have different types. A single list can contain `int` values, `float` values, and strings. Elements in a list can even be other lists! A list is created by giving a name to the list of values enclosed in square brackets and separated by commas. For example, `values_with_different_types = ['data', 8, ['lab', 3]]`

Lists can be useful when working with tables because they can describe the contents of one row in a table, which often  corresponds to a sequence of values with different types. A list of lists can be used to describe multiple rows.

Each column in a table is a collection of values with the same type (an array). If you create a table column from a list, it will automatically be converted to an array. A row, on the ther hand, mixes types.

Here's a table from Chapter 5. (Run the cell below.)

In [21]:
# Run this cell to recreate the table
flowers = Table().with_columns(
    'Number of petals', make_array(8, 34, 5),
    'Name', make_array('lotus', 'sunflower', 'rose')
)
flowers

**Question 1.1.** Create a list that describes a new fourth row of this table. The details can be whatever you want, but the list must contain two values: the number of petals (an `int` value) and the name of the flower (a string). How about the "pondweed"? For example, your flower could be "pondweed"! (A flower with zero petals)

In [22]:
my_flower = ...
my_flower

In [ ]:
_ = ok.grade('q_flower')

**Question 1.2.** `my_flower` fits right in to the table from chapter 5. Complete the cell below to create a table of seven flowers that includes your flower as the fourth row followed by `other_flowers`. You can use `with_row` to create a new table with one extra row by passing a list of values and `with_rows` to create a table with multiple extra rows by passing a list of lists of values.

In [23]:
# Use the method .with_row(...) to create a new table that includes my_flower 

four_flowers = ...

# Use the method .with_rows(...) to create a table that 
# includes four_flowers followed by other_flowers

other_flowers = [[10, 'lavender'], [3, 'birds of paradise'], [6, 'tulip']]

seven_flowers = ...
seven_flowers

In [ ]:
_ = ok.grade('q_seven_flower')

## 2. Analyzing datasets
With just a few table methods, we can answer some interesting questions about the IMDb dataset.

If we want just the ratings of the movies, we can get an array that contains the data in that column:

In [24]:
imdb.column("Rating")

The value of that expression is an array, exactly the same kind of thing you'd get if you typed in `make_array(8.4, 8.3, 8.3, [etc])`.

**Question 2.1.** Find the rating of the highest-rated movie in the dataset.

*Hint:* Think back to the functions you've learned about for working with arrays of numbers.  Ask for help if you can't remember one that's useful for this.

In [25]:
highest_rating = ...
highest_rating

In [ ]:
_ = ok.grade('q_highest_rating')

That's not very useful, though.  You'd probably want to know the *name* of the movie whose rating you found!  To do that, we can sort the entire table by rating, which ensures that the ratings and titles will stay together.

In [26]:
imdb.sort("Rating")

Well, that actually doesn't help much, either -- we sorted the movies from lowest -> highest ratings.  To look at the highest-rated movies, sort in reverse order:

In [27]:
imdb.sort("Rating", descending=True)

(The `descending=True` bit is called an *optional argument*. It has a default value of `False`, so when you explicitly tell the function `descending=True`, then the function will sort in descending order.)

So there are actually 2 highest-rated movies in the dataset: *The Shawshank Redemption* and *The Godfather*.

Some details about sort:

1. The first argument to `sort` is the name of a column to sort by.
2. If the column has strings in it, `sort` will sort alphabetically; if the column has numbers, it will sort numerically.
3. The value of `imdb.sort("Rating")` is a *copy of `imdb`*; the `imdb` table doesn't get modified. For example, if we called `imdb.sort("Rating")`, then running `imdb` by itself would still return the unsorted table.
4. Rows always stick together when a table is sorted.  It wouldn't make sense to sort just one column and leave the other columns alone.  For example, in this case, if we sorted just the "Rating" column, the movies would all end up with the wrong ratings.

**Question 2.2.** Create a version of `imdb` that's sorted chronologically, with the earliest movies first.  Call it `imdb_by_year`.

In [28]:
imdb_by_year = ...
imdb_by_year

In [ ]:
_ = ok.grade('q_movies_by_year')

**Question 2.3.** What's the title of the earliest movie in the dataset?  You could just look this up from the output of the previous cell.  Instead, write Python code to find out.

*Hint:* Starting with `imdb_by_year`, extract the Title column to get an array, then use `item` to get its first item.

In [29]:
earliest_movie_title = ...
earliest_movie_title

In [ ]:
_ = ok.grade('q_earliest_movie')

## 3. Finding pieces of a dataset
Suppose you're interested in movies from the 1940s.  Sorting the table by year doesn't help you, because the 1940s are in the middle of the dataset.

Instead, we use the table method `where`.

In [30]:
forties = imdb.where('Decade', are.equal_to(1940))
forties

Ignore the syntax for the moment.  Instead, try to read that line like this:

> Assign the name **`forties`** to a table whose rows are the rows in the **`imdb`** table **`where`** the **`'Decade'`**s **`are` `equal` `to` `1940`**.

**Question 3.1.** Compute the average rating of movies from the 1940s.

*Hint:* The function `np.average` computes the average of an array of numbers.

In [31]:
average_rating_in_forties = ...
average_rating_in_forties

In [ ]:
_ = ok.grade('q_average_40s')

Now let's dive into the details a bit more.  `where` takes 2 arguments:

1. The name of a column.  `where` finds rows where that column's values meet some criterion.
2. Something that describes the criterion that the column needs to meet, called a predicate.

To create our predicate, we called the function `are.equal_to` with the value we wanted, 1940.  We'll see other predicates soon.

`where` returns a table that's a copy of the original table, but with only the rows that meet the given predicate.

**Question 3.2.** Create a table called `ninety_nine` containing the movies that came out in the year 1999.  Use `where`.

In [32]:
ninety_nine = ...
ninety_nine

In [2]:
_ = ok.grade('q_90s_movies')

So far we've only been finding where a column is *exactly* equal to a certain value. However, there are many other predicates.  Here are a few:

|Predicate|Example|Result|
|-|-|-|
|`are.equal_to`|`are.equal_to(50)`|Find rows with values equal to 50|
|`are.not_equal_to`|`are.not_equal_to(50)`|Find rows with values not equal to 50|
|`are.above`|`are.above(50)`|Find rows with values above (and not equal to) 50|
|`are.above_or_equal_to`|`are.above_or_equal_to(50)`|Find rows with values above 50 or equal to 50|
|`are.below`|`are.below(50)`|Find rows with values below 50|
|`are.between`|`are.between(2, 10)`|Find rows with values above or equal to 2 and below 10|

The textbook section on selecting rows has more examples.

**Question 3.3.** Using `where` and one of the predicates from the table above, find all the movies with a rating higher than 8.5.  Put their data in a table called `really_highly_rated`.

In [33]:
really_highly_rated = ...
really_highly_rated

In [ ]:
_ = ok.grade('q_high_ratings')

**Question 3.4.** Find the average rating for movies released in the 20th century and the average rating for movies released in the 21st century for the movies in `imdb`.

*Hint*: Think of the steps you need to do (take the average, find the ratings, find movies released in 20th/21st centuries), and try to put them in an order that makes sense.

In [34]:
average_20th_century_rating = ...
average_21st_century_rating = ...
print("Average 20th century rating:", average_20th_century_rating)
print("Average 21st century rating:", average_21st_century_rating)

In [ ]:
_ = ok.grade('q_century_v_century')

The property `num_rows` tells you how many rows are in a table.  (A "property" is just a method that doesn't need to be called by adding parentheses.)

In [35]:
num_movies_in_dataset = imdb.num_rows
num_movies_in_dataset

**Question 3.5.** Use `num_rows` (and arithmetic) to find the *proportion* of movies in the dataset that were released in the 20th century, and the proportion from the 21st century.

*Hint:* The *proportion* of movies released in the 20th century is the *number* of movies released in the 20th century, divided by the *total number* of movies.

In [36]:
proportion_in_20th_century = ...
proportion_in_21st_century = ...
print("Proportion in 20th century:", proportion_in_20th_century)
print("Proportion in 21st century:", proportion_in_21st_century)

In [ ]:
_ = ok.grade('q_century_prop')

**Question 3.6.** Here's a challenge: Find the number of movies that came out in *even* years.

*Hint:* The operator `%` computes the remainder when dividing by a number.  So `5 % 2` is 1 and `6 % 2` is 0.  A number is even if the remainder is 0 when you divide by 2.

*Hint 2:* `%` can be used on arrays, operating elementwise like `+` or `*`.  So `make_array(5, 6, 7) % 2` is `array([1, 0, 1])`.

*Hint 3:* Create a column called "Year Remainder" that's the remainder when each movie's release year is divided by 2.  Make a copy of `imdb` that includes that column.  Then use `where` to find rows where that new column is equal to 0.  Then use `num_rows` to count the number of such rows.

In [37]:
num_even_year_movies = ...
num_even_year_movies

In [ ]:
_ = ok.grade('q_even_years')

**Question 3.7.** Check out the `population` table from the introduction to this lab.  Compute the year when the world population first went above 6 billion.

In [38]:
year_population_crossed_6_billion = ...
year_population_crossed_6_billion

In [ ]:
_ = ok.grade('q_six_bill')

## 4. Miscellanea
There are a few more table methods you'll need to fill out your toolbox.  The first 3 have to do with manipulating the columns in a table.

The table `farmers_markets.csv` contains data on farmers' markets in the United States  (data collected [by the USDA]([dataset](https://apps.ams.usda.gov/FarmersMarketsExport/ExcelExport.aspx)).  Each row represents one such market.

**Question 4.1.** Load the dataset into a table.  Call it `farmers_markets`.

In [ ]:
farmers_markets = ...
farmers_markets

In [ ]:
_ = ok.grade('q_read_csv')

You'll notice that it has a large number of columns in it!

### `num_columns`

**Question 4.2.** The table property `num_columns` (example call: `tbl.num_columns`) produces the number of columns in a table.  Use it to find the number of columns in our farmers' markets dataset.

In [40]:
num_farmers_markets_columns = ...
print("The table has", num_farmers_markets_columns, "columns in it!")

In [ ]:
_ = ok.grade('q_num_columns')

Most of the columns are about particular products -- whether the market sells tofu, pet food, etc.  If we're not interested in that stuff, it just makes the table difficult to read.  This comes up more than you might think.

### `select`

In such situations, we can use the table method `select` to pare down the columns of a table.  It takes any number of arguments.  Each should be the name or index of a column in the table.  It returns a new table with only those columns in it.

For example, the value of `imdb.select("Year", "Decade")` is a table with only the years and decades of each movie in `imdb`.

**Question 4.3.** Use `select` to create a table with only the name, city, state, latitude ('y'), and longitude ('x') of each market.  Call that new table `farmers_markets_locations`.

In [41]:
farmers_markets_locations = ...
farmers_markets_locations

In [ ]:
_ = ok.grade('q_farmer_location')

### `select` is not `column`!

The method `select` is **definitely not** the same as the method `column`.

`farmers_markets.column('y')` is an *array* of the latitudes of all the markets.  `farmers_markets.select('y')` is a table that happens to contain only 1 column, the latitudes of all the markets.

**Question 4.4.** Below, we tried using the function `np.average` to find the average latitude ('y') and average longitude ('x') of the farmers' markets in the table, but we screwed something up.  Run the cell to see the (somewhat inscrutable) error message that results from calling `np.average` on a table.  Then, fix our code.

In [42]:
average_latitude = np.average(farmers_markets.select('y'))
average_longitude = np.average(farmers_markets.select('x'))
print("The average of US farmers' markets' coordinates is located at (", average_latitude, ",", average_longitude, ")")

In [ ]:
_ = ok.grade('q_select_v_column')

### `drop`

`drop` serves the same purpose as `select`, but it takes away the columns you list instead of the ones you don't list, leaving all the rest of the columns.

**Question 6.5.** Suppose you just didn't want the "FMID" or "updateTime" columns in `farmers_markets`.  Create a table that's a copy of `farmers_markets` but doesn't include those columns.  Call that table `farmers_markets_without_fmid`.

In [44]:
farmers_markets_without_fmid = ...
farmers_markets_without_fmid

In [ ]:
_ = ok.grade('q_drop')

#### `take`
Let's find the 5 northernmost farmers' markets in the US.  You already know how to sort by latitude ('y'), but we haven't seen how to get the first 5 rows of a table.  That's what `take` is for.

The table method `take` takes as its argument an array of numbers.  Each number should be the index of a row in the table.  It returns a new table with only those rows.

Most often you'll want to use `take` in conjunction with `np.arange` to take the first few rows of a table.

**Question 6.6.** Make a table of the 5 northernmost farmers' markets in `farmers_markets_locations`.  Call it `northern_markets`.  (It should include the same columns as `farmers_markets_locations`.

In [45]:
northern_markets = ...
northern_markets

In [ ]:
_ = ok.grade('q_north_east')

**Question 6.7.** Make a table of the farmers' markets in Berkeley, California.  (It should include the same columns as `farmers_markets_locations`.)

In [46]:
berkeley_markets = ...
berkeley_markets

In [ ]:
_ = ok.grade('q_berkeley_markets')

Recognize any of them?

## 7. Summary

For your reference, here's a table of all the functions and methods we saw in this lab.

|Name|Example|Purpose|
|-|-|-|
|`Table`|`Table()`|Create an empty table, usually to extend with data|
|`Table.read_table`|`Table.read_table("my_data.csv")`|Create a table from a data file|
|`with_columns`|`tbl = Table().with_columns("N", np.arange(5), "2*N", np.arange(0, 10, 2))`|Create a copy of a table with more columns|
|`column`|`tbl.column("N")`|Create an array containing the elements of a column|
|`sort`|`tbl.sort("N")`|Create a copy of a table sorted by the values in a column|
|`where`|`tbl.where("N", are.above(2))`|Create a copy of a table with only the rows that match some *predicate*|
|`num_rows`|`tbl.num_rows`|Compute the number of rows in a table|
|`num_columns`|`tbl.num_columns`|Compute the number of columns in a table|
|`select`|`tbl.select("N")`|Create a copy of a table with only some of the columns|
|`drop`|`tbl.drop("2*N")`|Create a copy of a table without some of the columns|
|`take`|`tbl.take(np.arange(0, 6, 2))`|Create a copy of the table with only the rows whose indices are in the given array|

<br/>

In [70]:
from datascience import *
from matplotlib.pyplot import plot
%matplotlib inline

In this question, we'll explore the titanic dataset. You might recognize this dataset if you partcipated in a Kaggle competition online. This question will be more open-ended compared to the previous section and is meant to solidify your understanding of data visualization and commonly-used data methods. 

Start by importing the Titanic dataset from the csv file: `titanic.csv` and assign it to `titanic_raw`.

Hint: If you don't remember how to import a csv file, look back to the beginning of the lab.

In [43]:
titanic_raw = ...

In [ ]:
_ = ok.grade('titantic_raw_test')

Here are the first 8 rows of `titanic_raw`.

In [44]:
titanic_raw.show(8)

The `titanic_raw` dataset includes demographic information on passengers aboard the titanic, as well as whether they survived. The specific definitions of the columns are listed below.

1. `survival` - Whether or not the passenger survived aboard the Titanic. (0 = no, 1 = yes)
2. `pclass` - The class type of the ticket. (1 = Upper, 2 = Middle, 3 = Lower)
3. `sex`	- The biological sex.
4. `age` - The age of the passenger in years.
5. `sibsp` -	# of siblings and spouses aboard the Titanic.
6. `parch` -	# of parents and children aboard the Titanic.
7. `ticket` - The Ticket number	
8. `fare` - Cost of the ticket.	
9. `cabin` - Cabin number	
10. `embarked` - Port of Embarkation

Although we have the `titanic_raw` dataset, it is not yet ready to be examined! There are missing data points in this file. Your next step is to clean and inspect the dataset.

Create a new titanic dataset named `titanic_dropped` that does not include the `ticket`, `cabin`, and `embarked` columns.

In [45]:
titanic_dropped = ...
titanic_dropped.show(8)

In [ ]:
_ = ok.grade('titantic_dropped_test')

If you examine the `titanic_dropped` dataset, you may notice that Mr. James Moran has an age of 999. Now, we don't know about you but we're almost sure that immortal people don't exist. More likely, there's an error in the dataset. Your next step is to remove all rows that contain 999 as a value for `age`.

In [49]:
titanic_cleaned = ...

In [ ]:
_ = ok.grade('titantic_cleaned_test')

Now that you have the `titanic_cleaned` dataset, your goal is to address an open-ended question that examines the data. We'll walk you through an example so you can see a general approach! 

DISCLAIMER: This is not the full dataset for all the passengers on the Titanic. Rather, it is merely a portion of the dataset.

How many survivors were there on the Titanic? Assign `num_survivors` to this value.

In [80]:
num_survivors = ...
num_survivors

In [ ]:
_ = ok.grade('num_survivors_test')

What are the ages of the youngest survivors in each class? Assign the values to `youngest_upper`, `youngest_middle`, and `youngest_lower`.

In [83]:
survived = ...
youngest_upper = ...
youngest_middle = ...
youngest_lower = ...

In [ ]:
_ = ok.grade('youngest_test')

Were passengers that had a `pclass` value of 3 more likely to survive than those with a `pclass` of 1? Support your answer with data. [ There are no autograder tests for this question. This is just to give you a taste of what a data exploration project might be like! ]

Alright! You're finished with lab 3!  Be sure to...
- **run all the tests** (the next cell has a shortcut for that), 
- **Save and Checkpoint** from the `File` menu,
- **run the last cell to submit your work**,
- and ask one of the staff members to check you off.

In [ ]:
# For your convenience, you can run this cell to run all the tests at once!
import os
_ = [ok.grade(q[:-3]) for q in os.listdir("tests") if q.startswith('q')]

In [1]:
_ = ok.submit()